.header {
    background: #e71f7b;
    background: -webkit-linear-gradient(-60deg, #e71f7b, #633e91, #633e91);
    background: -o-linear-gradient(-60deg, #e71f7b, #633e91, #633e91);
    background: -moz-linear-gradient(-60deg, #e71f7b, #633e91, #633e91);
    background: linear-gradient(-60deg, #e71f7b, #633e91, #633e91);
    opacity: 70%;
    color: white;
    padding: 1% 1%;
}

.title {
    color: white;
    text-align: center;
    margin: 5px;
    color: white;
    font-weight: 600;
}

.logo {
    height: 60px;
    width: 60px;
    margin: 2px;
}

.vertical-col {
    border-left: 2px solid white;
    height: 60px;
    margin-top: 4px;
}


/*
        #slider {
            max-width: 500px;
            max-height: 500px;
            border: 2px solid black;
            display: flex;
            transition: 0.3s;
            cursor: pointer;
        }
        
        .product {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .img {
                object-fit: cover;
                max-width: 180px;
                max-height: 100px;
                cursor: pointer;
                opacity: 0.5;
                margin: 5px;
            }
            .img:hover {
                opacity: 1;
            }
            .active {
                opacity: 1;
            }
            #slides {
                max-width: 300px;
                display: flex;
                min-height: 100px;
                align-items: center;
                width: 440px;
                display: flex;
                flex-wrap: nowrap;
                overflow: hidden;
            }
            .column {
                width: 600px;
                padding: 10px;
            } */

* {
    margin: 0;
    padding: 0;
}

.imgs img {
    height: 92px;
    margin 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
    padding: 10px;
}

.imgs {
    float: left;
}

.imgs img:hover {
    opacity: 1;
}

.imgs img::before {
    transition: .5s;
}

.active {
    opacity: 1;
}

.active2 {
    opacity: 1;
}

.game {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    flex-direction: row;
    grid-template-columns: 1fr 10px 1fr 10px 1fr 10px;
}

.image img {
    height: 400px;
    object-fit: cover;
}

.image {
    padding: 10px;
    float: right;
}

html {
    font-size: 11px;
}

.game .image {
    font-size: 3rem;
    padding: 1rem;
}

.game .imgs {
    font-size: 3rem;
    padding: 1rem;
}

@media screen and (max-width: 800px) {
    .game {
        width: 100%;
        display: grid;
        grid-template-rows: 10px;
        grid-template-rows: repeat(2, 33.3%);
        justify-content: center;
    }
}


}